@keyframes navFadeOut {
    from {
        opacity: 1;
        transform: translateY(0vh);
    }
    
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes navFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes linkFadeIn {
    0% { 
        opacity: 0;
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(-100px);
    }
}


@keyframes linkFadeOut {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% { 
        opacity: 0;
        transform: translateX(100px);
    }
}

/* LOGO */

@keyframes logoIn {
    from {
        opacity: 0;
        transform: translateX(0px) rotate(-90deg);
    }

    to {
        opacity: 1;
        transform: translateX(45px) rotate(-90deg);
    }
}

@keyframes logoOut {
    from {
        opacity: 1;
        transform: translateX(0px) rotate(-90deg);
    }

    to {
        opacity: 0;
        transform: translateX(-45px) rotate(-90deg);
    }
}
