* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.head__container {
    width: 100vw;
    height: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: beige;

    position: fixed;

    z-index: 1;
}

.head__logo {
    font-size: 3rem;
    padding: .2em;
}

.nav-link {
    padding: .2em;

    font-size: 2rem;
    color: black;
    cursor: pointer;

    text-align: right;
}

.line {
    height: 1px;
    width: 0;

    transform: translateY(-4px);
    display: inline-block;
    margin-left: .5em;

    background-color: black;
}



/* GRID */

.grid__container {
    
    margin: 0 auto;

    display: flex;
    justify-content: center;

    /* vet ej om relative eller absolute är bäst här. gör att grid flyter över headern. */
    position: relative;
    top: 160px;
}

.grid {
    /* padding: 0 15vw; */
    

    display: grid;
    grid-auto-flow: dense;
    gap: 5px;

}

.grid__img {
    width: 100%;
    object-fit: contain;
    
    
}

.big-img {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: auto;
    grid-row-end: auto;
    
}

/* .grid__img:hover {
    grid-column-start: 1;
    grid-column-end: 1000;
} */


/* ON SCROLL BIG SCREEN. kanske bättre att göra i javascript med if statement för skärm-bredd. */
.move-nav {
    display: flex;
    flex-direction: column;
    
    /* om det krånglar ändra tillbaks till absolute */
    position: fixed;
    top: 10px;
    right: 10px;

    z-index: 10;

}


/* den här behövs kanske inte? lagt in detta i animationen istället. */
/* .move-logo { */
    /* om det krånglar ändra tillbaks till absolute */
    /* position: fixed;
    top: 100px;
    left: -50px; */
    
    /* opacity: 0; */
    /* transform: rotate(-90deg); */
/* } */






/* MEDIAQUERYS */

@media screen and (min-width: 700px) {
    
    .grid {
        /* max-width: 1000px; */
        
        background-color: transparent;
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1000px) {


    .head__container {
        position: unset;
    }

    .grid__container {
        padding: 0 15vw;
        z-index: 2;

        top: 0;
    }
}

/* for each link in javascript: animation: linkFade 1s 0.5s ease-in forwards; */






/* KEYFRAMES */

@keyframes navFade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes linkFade {
    0% { 
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes linkFadeOut {
    0% { 
        opacity: 1;
        transform: translateX(0px);
    }
    
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

@keyframes logoFade {
    0% {
        opacity: 0;
        transform: translateX(-20px) rotate(-90deg);
        position: fixed;
        top: 100px;
        left: -50px;
    }

    100% {
        opacity: 1;
        transform: translateX(0px) rotate(-90deg);
        position: fixed;
        top: 100px;
        left: -50px;
    }
}

@keyframes picFade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


@keyframes logoMove {
    0% {
        opacity: 1;
    }

    25% {
        transform:  translateY(-20px);
        opacity: 0;
    }

    50% {
        transform:  translateY(-20px);
        opacity: 0;
        position: fixed;
        top: 100px;
        left: -50px;
    }

    75% {
        transform: rotate(-90deg) translateY(-20px);
        opacity: 0;
        position: fixed;
        top: 100px;
        left: -50px;
    }

    100% {
        transform: rotate(-90deg) translateY(0px);
        opacity: 1;
        position: fixed;
        top: 100px;
        left: -50px;
    }
}



@keyframes logoMoveBack {
    0% {
        transform: rotate(-90deg) translateY(0px);
        opacity: 1;
        position: fixed;
        top: 100px;
        left: -50px;
    }

    50% {
        transform: rotate(-90deg) translateY(-20px);
        opacity: 0;
        position: fixed;
        top: 100px;
        left: -50px;
    }

    75% {
        opacity: 0;
        transform: translateY(-20px);
        
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}









@keyframes navActive {
    0% {
        width: 0;
    }

    100% {
        width: 15px;
    }
}

@keyframes navNotActive {
    0% {
        width: 15px;
    }

    100% {
        width: 0;
    }
}


